.card-container {
  width: 14rem;
  background-color: #fff;
}

/* .card-container p {
  font-size: 0.75rem;
} */

.card-poster {
  width: 14rem;
  height: 15rem;
}

.card-text_country {
  color: #9ca3af;
  font-weight: 700;
  font-size: 0.75rem;
}

.card-text_movie_name {
  color: #111827;
  font-size: 1.125rem;
  font-weight: 700;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container div:first-child {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.flex-container div:last-child {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}

.flex-container div:last-child > p {
  margin: 0;
  font-weight: 400;
  color: #111827;
  font-size: 0.75rem;
}

.flex-container div:first-child > p {
  margin: 0;
  font-weight: 400;
  color: #111827;
  font-size: 0.75rem;
}

.card-imbd {
  width: 2.1875rem;
  height: 1.0625rem;
}

.card-rottentom {
  width: 1rem;
  height: 1.0625rem;
}

.card-text_genre {
  color: #9ca3af;
  font-weight: 700;
  font-size: 0.75rem;
}
