.card-container {
  width: 14rem;
  background-color: #fff;
}

/* .card-container p {
  font-size: 0.75rem;
} */

.card-poster {
  width: 14rem;
  height: 15rem;
}

.card-text_country {
  color: #9ca3af;
  font-weight: 700;
  font-size: 0.75rem;
}

.card-text_movie_name {
  color: #111827;
  font-size: 1.125rem;
  font-weight: 700;
}

.card-text_genre {
  color: #9ca3af;
  font-weight: 700;
  font-size: 0.75rem;
}
