.footer_container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.footer-second_section > p {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

.footer-second_section {
    margin: 1rem 0;
}

.footer-first_section {
  font-size: 1.2rem;
}

.footer_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.footer_text {
  margin: 0;
}

@media screen and (max-width: 480px){
    .footer_text{
        font-size: .9rem;
    }

    .footer-second_section {
        flex-direction: column;
        row-gap: 1rem;
    }
}
