.rating-container {
    display: flex;
    width: 100%;
  }
  
  .rating-container div:first-child {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
  }
  
  .rating-container div:last-child {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
  }

.rating-container div:last-child > p {
    margin: 0;
    font-weight: 400;
    color: #111827;
    font-size: 0.75rem;
  }
  
  .rating-container div:first-child > p {
    margin: 0;
    font-weight: 400;
    color: #111827;
    font-size: 0.75rem;
  }
  
  .rating-imbd {
    width: 2.1875rem;
    height: 1.0625rem;
  }
  
  .rating-rottentom {
    width: 1rem;
    height: 1.0625rem;
  }